.titulo {
    color:#000000;
    
}

.cabecalho {
    background-color: #98336C;
    text-align: center;
    background: linear-gradient(90deg,
    rgba(72,98,136,1) 0%, rgba(152,51,108,1) 0%,
    rgba(0,212,255,1) 100%), url("fundo.png");
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 500px;

}

.perfil {
    border: 2px solid #486288;
    border-radius: 40px;
    margin: 50px;
}

.redessociais{
    padding: 10px;
}